/* Star Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

/* End Font*/


/* Start Body*/
.body {
    color: gray;
    foont-family : Roboto,helvetica, arial, sans-serif;
    font-size : 32px;
    line-height: 1,5em;
    margin: 0;
    padding: 0; 
    background-image: url(image.html/sul.jpg)no-repeat center fixed;   
}

/* End Body*/

/* Start Debug*/
.bg-brown {
    background-color:brown;
}

.bg-grey{
    background-color:grey;
}

/* End bug*/

/* Start Container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;

}
/* End Container*/

/* Start Logo */
.logo{
    text-align: left;
    background-color: white;
    width: 100%;
    
}

/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: blue;
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: underline;
    
}
/* End Anchor / Hyperlink */

/* Start menu-primer*/

.menu-primer ul {
     background-color: black;
     border-radius: 6px;
     box-shadow: 
                0 4px 5px -1  gray rgba (0,0,0,.2)
                0 6px 10px 0  gray rgba (0,0,0,.14)
                0 1px 18px    grey rgba (0,0,0,.12)
}
.menu-primer li {
    border-right: 1px solid white;
    display: inline-block;
    margin: 0-3px;
}
.menu-primer a{
    color:whitesmoke;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 27px;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color: white;
    color: black;
}
.menu-primer .active{
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}    
/* End menu-primer*/

/* Start heading*/
    h1,h2,h3,h4,h5,h6 {
        font-weight: 400;
        letter-spacing: 1px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }    
    h5 {
        font-size: 14px;
    }    
    h6 {
        font-size: 13px;
    }    
/* End heading*/

/* Start jumbotron*/
.jumbotron {
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 50px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 25px;
    padding: 0 20px;
}

/* End Jumbotron*/

/* Start Profil*/
.profil {
    font-size: 26px;
    font-family: abril-fatface;
}
.profil h1 {
    font: size 32px;
    font-family: abril+plateface,roboto,helvetica;
    color: darkblue;
}

/* Start latar belakang */
.latar-belakang {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 1;
    margin: 30px 15;
}

.latar-belakang h2 {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
}


/* End latar-belakang*/ 

/* Start menu sekunder*/
.menu-sekunder {
    background-color: aliceblue;
    border-bottom: 1px solid aqua;
    border-top: 1px solid aqua;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0px;
}
.menu-sekunder li,
.menu-sekunder p {
    font-size: 15px;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two{
    width: 30%;
}
.menu-sekunder-three {
    width: 30%;
    text-transform: uppercase;
} 
/* End menu sekunder*/

/* Start artikel*/
.artikel h1 {
    font-size: 45px;
    color: darkblue;
    font-family: roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    
}
.artikel h3 {
    font-size: 30px;
    font-family: roboto,oxygen,ubuntu;
}

/* End artikel*/

/* Star agenda */


/* End agenda*/
