/* Star Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
/* End Font*/


/* Start Body*/
.body {
    color: gray;
    foont-family : Roboto,helvetica, arial, sans-serif;
    font-size : 32px;
    line-height: 1,5em;
    margin: 0;
    padding: 0; 
    background-image: url(image.html/sul.jpg);

    
}

/* End Body*/

/* Start Debug*/
.bg-brown {
    background-color:brown;
}

.bg-grey{
    background-color:grey;
}

/* End bug*/

/* Start Container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;

}
/* End Container*/

/* Start Logo */
.logo{
    text-align: left;
    background-color: white;
    width: 100%;
    
}

/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: blue;
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: underline;
    
}
/* End Anchor / Hyperlink */

/* Start menu-primer*/

.menu-primer ul {
     background-color: black;
     border-radius: 4px;
     box-shadow: 
                0 3px 5px -1  gray rgba (0,0,0,.2)
                0 6px 10px 0  gray rgba (0,0,0,.14)
                0 1px 18px    grey rgba (0,0,0,.12)
}
.menu-primer li {
    border-right: 1px solid white;
    display: inline-block;
    margin: 0-3px;
}
.menu-primer a{
    color:whitesmoke;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color: white;
    color: black;
}
.menu-primer .active{
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}    
/* End menu-primer*/

/* Start heading*/
    h1,h2,h3,h4,h5,h6 {
        font-weight: 400;
        letter-spacing: 1px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }    
    h5 {
        font-size: 14px;
    }    
    h6 {
        font-size: 13px;
    }    
/* End heading*/

/* Start jumbotron*/
.jumbotron {
    background-color: aqua;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 50px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 25px;
    padding: 0 20px;
}

/* End Jumbotron*/

/* Start Profil*/
.profil {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
.profil h1 {
    font: size 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;

}
/* End Profil*/
/* Start artikel*/
.artikel h1 {
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1px;
    
    
}
.artikel h2 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1px;
    
    
    
    
}
.artikel h3 {
    font-size: 70;
    font-family: Arial, Helvetica, sans-serif

}
/* End Artikel*/

/* Star latar-belakang*/
.latar-belakang {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px;
    

    
    
}
.latar-belakang h1 {
    font-size: 32px;
    color: darkblue;
}
.latar-belakang h3 {
    font-size: 100;
    

}


/* End latar-belakang*/ 

/* Start menu sekunder*/
.menu-sekunder {
    background-color: aliceblue;
    border-bottom: 1px solid aqua;
    border-top: 1px solid aqua;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0px;
}
.menu-sekunder li,
.menu-sekunder p {
    font-size: 15px;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two{
    width: 30%;
}
.menu-sekunder-three {
    width: 30%;
    text-transform: uppercase;
} 
/* End menu sekunder*/